{% load static %}

<head>
    <!-- jquery库 -->
    <link rel="stylesheet" href="https://cdn.acwing.com/static/jquery-ui-dist/jquery-ui.min.css">
    <script src="https://cdn.acwing.com/static/jquery/js/jquery-3.3.1.min.js"></script>

    <!-- 自定义的css和js -->
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
</head>

<body style="margin: 0;">
    <div id="game_4215"></div>
    <script type="module">  // 模块化
        import {Game} from "{% static 'js/dist/game.js' %}";  // 作为局部变量引入
        $(document).ready(function() {
            let game = new Game("game_4215");
        });
        console.log("Hello World");  // 页面运行的提示信息
    </script>
</body>